@font-face {
    font-family: HW-Wei;
    src: url(HYWenHei-85W.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    user-select: none;
}

body {
    background-color: black;

}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 2px;
}

p {
    font-size: 14px;
}

.container-screen {
    max-width: 450px;
    margin: auto;
    min-height: 100vh;
    font-family: HW-Wei;
    background-color: #eeeeee;
    background-image: url("/wallpaperforu-1080x1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    padding-bottom: 75px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 17px;
    z-index: 9;
    top: 0;
}

nav {
    width: 420px;
    margin: auto;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    position: fixed;
    bottom: 0.7rem;
    width: inherit;
    z-index: 9;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

nav>ul>li {
    padding: 7px 0;
    display: flex;
    justify-content: center;
}

nav>ul>li>a {
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
}

nav>ul>li>a>i {
    font-size: 24px;
    margin-bottom: 0.2rem;
}

.hidden-icon {
    display: none !important;
}

nav>ul>li>a>p {
    font-size: 12px;
}

@media screen and (min-width: 360px) and (max-width: 450px) {
    nav {
        width: 85%;
    }

    nav>ul {
        width: inherit;
    }

    nav>ul>li {
        font-size: 14px;
    }

    nav>ul>li>a {
        width: 3.7rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    header,
    nav {
        width: 100%;
    }

    nav>ul {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        bottom: 0;
    }

    nav>ul>li {
        width: 4.2rem;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 2rem auto 2rem;
}

.img-slider {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.img-slider .slide {
    display: none;

}

.img-slider .active {
    display: inline-block;
}

.img-slider .slide img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.gallery,
.music {
    display: block;
    margin-top: 2rem;
}

.view-all {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 2rem;
    margin-left: 2rem;
}

.view-all>h5 {
    font-size: 1rem;
}

.view-all>a {
    font-size: 0.7rem;
}

.gallery-chara,
.ost {
    display: flex;
    gap: 1rem;
    margin-top: 0.8rem;
    align-items: center;
}

.gallery-chara {
    margin-right: 2rem;
    margin-left: 2rem;
}

.chara,
.content-music {
    background-color: #DEDACD;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.chara img {
    width: 75%;
    position: relative;
    bottom: -4px;
    margin: auto 0.5rem;
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(2px 2px 5px rgb(0, 0, 0, 0.3));
    transition: transform .10s;
    -webkit-transition: transform .10s;
    -moz-transition: transform .10s;
    -ms-transition: transform .10s;
    -o-transition: transform .10s;
    cursor: pointer;
}

.chara img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.music,
.gallery {
    margin-right: 0;
    margin-left: 0;
}

.content-music {
    flex-direction: column;
    padding: 9px 11px;
    padding-bottom: 12px;
    background-color: #fff;
}

.music-desc h5 {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.music-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-desc img {
    width: 3rem;
    cursor: pointer;
}

.music-desc p {
    font-size: 0.8rem;
}

.play-button,
.pause-button {
    display: none;
}

.active-button {
    display: block;
}

.wrapper-music {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14rem;
    overflow-x: auto;
    gap: 1.5rem;
    overscroll-behavior-inline: contain;
    position: relative;

    padding-right: 2rem;
    padding-left: 2rem;
}

.snap-inline {
    scroll-snap-type: x mandatory;
}

.snap-inline>* {
    scroll-snap-align: start;
    scroll-margin: 2rem;
}

.placeholder-img {
    margin-bottom: 10px;
}

.placeholder-img img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.played{
    
}